<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>登錄</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="stylesheets/style.css" />

<body>

<div class="login-container">
	<h1>登錄</h1>
	
	<form action="/login" method="post">
		<div>
			<input type="text" name="name" class="username" placeholder="名稱" autocomplete="off"/>
		</div>
		<div>
			<input type="password" name="pwd" class="password" placeholder="密碼" oncontextmenu="return false" onpaste="return false" />
		</div>
		<button id="submit" type="submit">登 錄</button>
	</form>

	<a href="/register">
		<button type="button" class="register-tis">還没有帳號？</button>
	</a>

</div>

<script src="jsl/jquery.min.js"></script>
<script src="jsl/common.js"></script>
<!--背景图片自动更换-->
<script src="jsl/supersized.3.2.7.min.js"></script>
<script src="jsl/supersized-init.js"></script>
<!--表单验证-->
<script src="jsl/jquery.validate.min.js?var1.14.0"></script>

</body>
</html>